{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@/api", "./src/api"],
        ["@/common", "./src/common"],
        ["@/components", "./src/components"],
        ["@/games", "./src/games"],
        ["@/hooks", "./src/hooks"],
        ["@/pages", "./src/pages"],
        ["@/styles", "./src/styles"]
      ]
    }
  }
}
