{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@/app", "./src/app"],
        ["@/pages", "./src/pages"],
        ["@/games", "./src/games"],
        ["@/shared", "./src/shared"]
      ]
    }
  }
}
