html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: var(--vh100);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
